c/game_state.dtd

<!ELEMENT game (bank, player+)>

<!ELEMENT bank (cards)>

<!ELEMENT player (balance, bet, cards)>
<!ATTLIST player name CDATA #REQUIRED>
<!ELEMENT balance (#PCDATA)>
<!ELEMENT bet (#PCDATA)>

<!ELEMENT cards (card*)>
<!ELEMENT card EMPTY>
<!ATTLIST card value CDATA #REQUIRED>
<!ATTLIST card suit CDATA #REQUIRED>